In [1]:
import pandas as pd
import os

In [13]:
#load csv file and select columns
org=pd.read_csv('D:/NSCLC Radiomics Lung1.clinical-version3-Oct 2019.csv',sep=',')
org=org[['PatientID','Survival.time']]
org

     PatientID  Survival.time
0    LUNG1-001           2165
1    LUNG1-002            155
2    LUNG1-003            256
3    LUNG1-004            141
4    LUNG1-005            353
..         ...            ...
417  LUNG1-418            346
418  LUNG1-419           2772
419  LUNG1-420           2429
420  LUNG1-421            369
421  LUNG1-422           1590

[422 rows x 2 columns]

In [14]:
#our patient list to DataFrame
fileID = os.listdir('D:/TCIA_real/patches')
patID = []
for x in fileID:
    patID.append('LUNG1-'+x[:3])
new=pd.DataFrame(patID,columns=['PatientID'])
new

    PatientID
0   LUNG1-004
1   LUNG1-005
2   LUNG1-006
3   LUNG1-007
4   LUNG1-008
..        ...
95  LUNG1-285
96  LUNG1-288
97  LUNG1-290
98  LUNG1-292
99  LUNG1-296

[100 rows x 1 columns]

In [15]:
#merge org with new , key='PatientID'
#new=pd.merge(org,new,on='PatientID')
new=pd.merge(org,new)
new

    PatientID  Survival.time
0   LUNG1-004            141
1   LUNG1-005            353
2   LUNG1-006            173
3   LUNG1-007            137
4   LUNG1-008             77
..        ...            ...
95  LUNG1-285            303
96  LUNG1-288            154
97  LUNG1-290            321
98  LUNG1-292            232
99  LUNG1-296            177

[100 rows x 2 columns]

In [16]:
#convert to month unit and check for recurrence
survival_month=[]
recurrence=[]
for i in range(len(new)):
    survival_month.append(round(new['Survival.time'][i]/30))
    if survival_month[i]<=24:
        recurrence.append(1)
    else:
        recurrence.append(0)

In [18]:
#add new columns
new['Survival.time(month)']=survival_month
new['recurrence']=recurrence

In [19]:
new

    PatientID  Survival.time  Survival.time(month)  recurrence
0   LUNG1-004            141                   5.0           1
1   LUNG1-005            353                  12.0           1
2   LUNG1-006            173                   6.0           1
3   LUNG1-007            137                   5.0           1
4   LUNG1-008             77                   3.0           1
..        ...            ...                   ...         ...
95  LUNG1-285            303                  10.0           1
96  LUNG1-288            154                   5.0           1
97  LUNG1-290            321                  11.0           1
98  LUNG1-292            232                   8.0           1
99  LUNG1-296            177                   6.0           1

[100 rows x 4 columns]

In [21]:
#'new' DataFrame to csv
#new.to_csv('D:/label.csv',index=False)